/*Grid View Styles*/

.content-more
{
    background-color: #fbfbfb;
    border:1px solid #e8e8e8;
    padding:10px;
    width:700px;
}
.content-more_Cotizador
{
    background-color: #fbfbfb;
    padding:10px;
    width:700px;
}


.grid-view 
{
	width:97%;
	border-left:0px;
	border-right:0px;
		
}
.grid-header
{
	background-color:#45638E;
	background-repeat:repeat-x;
	height:22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#fff;
	font-weight:bold;
    border-bottom:1px  #ececec dotted;
	border-left:1px  #ececec dotted;
	border-right:1px  #ececec dotted;
	border-top:1px  #ececec dotted;
}
.alternating-row td
{
	background-color:#fbfaf9;
	border-bottom:1px #ececec dotted;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#004785;
	padding-left:7px;
	height:25px;
	text-align:left;
}
.row td
{
	background-color:#ffffff;
	border-bottom:1px  #ececec dotted;
	border-left:1px  #ececec dotted;
	border-right:1px  #ececec dotted;
	border-top:1px  #ececec dotted;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#004785;
	padding-left:7px;
	height:25px;
	text-align:left;
}
.pager td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#b82c39;
	padding-left:2px;
	padding-right:2px;
	background-color:#f5f5f5;
	font-weight:bold;
	text-decoration:underline;
	background-image:url(../images/background-pager.gif);
	background-repeat:repeat-x;
	height:20px;
}
.pager a
{
	font-family:Calibri;
	font-size:10pt;
	color:#b82c39;
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	font-weight:normal;
}
.pager a:link
{
	font-family:Calibri;
	font-size:10pt;
	color:#b82c39;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	font-weight:normal;
}
.pager a:hover
{
	font-family:Calibri;
	font-size:10pt;
	color:#b82c39;
	text-decoration:underline;
	padding-left:2px;
	padding-right:2px;
	font-weight:normal;
}	
.pager a:visited
{
	font-family:Calibri;
	font-size:10pt;
	color:#b82c39;
	padding-left:2px;
	padding-right:2px;
	font-weight:normal;
}
.pager a:active
{
	font-family:Calibri;
	font-size:10pt;
	color:#b82c39;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
/*---------------------------------------------------*/

/*Formularios*/
.form_label
{
    font-weight: bold;
	font-size: 11px;
	color: #003366;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}
.form_importe
{
      text-align : left;
	color:#003366;
	font-family:Arial, Sans-Serif;
	font-weight:bold;
	font-size:12pt;	
}
.form_label_Cotizacion
{
    text-align : right;
	color:#003366;
	font-family:Arial, Sans-Serif;
	font-weight:bold;
	font-size:11pt;	
	
}
.form_label_title
{
	font-family:Calibri;
	color:#fbfbfb;
	font-weight:bold;
	font-size:12pt;
}
.form_table_Cotizacion
{
	text-align: center;
	background-color:#D2DEF0;
}
.form_table_left
{
	text-align: left;
	background-color:#F6F6F6;
}
.form_table
{
	text-align: center;
	background-color:#F6F6F6;
}
.form_section_header
{
    font-family:Calibri;
	color:#fbfbfb;
	font-weight:bold;
	font-size:12pt;
	background-color:Navy;
	
    }
.form_radios
{
	text-align: left;
	font-size:11px;
	color:#000;
}
.validatorCalloutHighlight 
{
    background-color: lemonchiffon; 
}

.form_field_error_message
{
	font-family:Calibri;
	color:Red;
	font-weight:normal;
	font-size:11pt;

}
.label-description
{
	font-family:Calibri;
	font-size:12pt;
	color:Gray;
	padding-bottom:0px;
	padding-top:13px;
	padding-left:5px;
	padding-right:0px;
}
.description
{
	font-family:Calibri;
	color:#747474;
	font-weight:normal;
	font-size:10pt;
}

.title-form
{
	text-align: center;
	color:#ffffff;
	font-family:Arial, Sans-Serif;
	font-weight:bold;
	font-size:12pt;	
	background-color:#45638E;
}

.title-form_
{
	font-family:Calibri;
	font-size:12pt;
	color:#d53342;
	border-bottom:2px solid #d53342;
	font-weight:bold;
}
.description-box
{
	font-family:Calibri;
	font-size:10pt;
	color:#606060;
	border:1px solid #e1edf5;
	background-image:url(../images/background-textbox.gif);
	background-repeat:repeat-x;
	width:400px;
	padding-top:4px;
	padding-left:4px;
}
.buttons
{
	background-image:url(../images/background-buttons.gif);
	background-repeat: repeat-x;
	background-color:#dff0fa;
	border:1px solid #a8c7c7;
	font-size:10pt;
	font-family:Calibri;
	color:#4a6779;
	font-weight:bold;
	height:28px;
	
}
.form_text
{
	font-family:Calibri;
	font-size:10pt;
	color:#666;
	border:1px solid #CCCCCC;
	background-repeat:repeat-x;
	height:18px;
	padding-top:3px;
	padding-left:4px;

}
.form_textQuestion
{
	border: 0px solid #CCCCCC;
	height:60px;
	width:680px;
	font-size:13px;
	color:#666;
	text-align:left;
}
.form_select
{
	font-family:Calibri;
	font-size:10pt;
	color:#606060;
	border:1px solid #e1edf5;
	background-repeat:repeat-x;
	background-color:#ffffff;
	height:24px;
	padding-top:4px;
	padding-left:4px;	
	
}
.header-more
{
	background-image:url(../images/more-icon.gif);
	background-repeat:no-repeat;
}
.caracteres
{
	font-family:Calibri;
	font-size:10pt;
	font-weight:bold;
	color:Red;
	/*color:#b82c39;*/
}
/*Textbox Watermark*/

.unwatermarked {
	height:18px;
	width:148px;
	font-weight:bold;
}

.watermarked {
	height:20px;
	width:150px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}	
.form_test_area
{
	font-family:Calibri;
	font-size:12pt;
	color:#606060;
	border:0px;
	background-repeat:repeat-x;
	background-color:#fbfbfb;
	height:24px;
	padding-top:4px;
	padding-left:4px;
}
.form_radios
{
  	font-family:Calibri;
	font-size:10pt;
}
.accordionHeader
{
    border: 0px solid #2F4F4F;
    color:Black;
    background-repeat: repeat-x;
    background-color: Transparent;
	font-family: Calibri;
	font-size: 10pt;
	font-weight: bold;
    padding-left:0px;
    margin-top:0px;
    cursor: pointer;
    width:100%;
    height:28px;
    text-align:left;
}
.btn 
{   
    background-color: #3162A0; 
    border-color: #efefef; 
    color: #fff; 
    font-family: arial, verdana, ms sans serif; 
    font-size: 11pt;
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
}
