BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: .8em;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
    color: Black;
    scrollbar-3dlight-color: #6789b4;
    scrollbar-arrow-color: White;
    scrollbar-base-color: White;
    scrollbar-darkshadow-color: #6789b4;
    scrollbar-face-color: #6789b4;
}
.MainHeader
{ 	
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 115%;
	font-weight: bold;
	font-weight: bolder;
	font-style: normal;
	line-height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;

}
.SubHeader
{
    MARGIN-TOP: 6pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #909090;
    color: Black;
    FONT-FAMILY: Arial
}
.InfoText
{
	font-size: 11px;
	overflow: hidden;
	color: black;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.InfoTextSmall
{
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: black;
}
.pullDownMenu
{
	font-size: 10px;
	background: #ffffff;
	color: #000000;
	font-family: Arial, verdana, helvetica, sans-serif;
	text-align: left;
	font-variant: normal;
}
.searchLinks {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #809dc0; 
	FONT-STYLE: normal; 
	FONT-FAMILY: verdana, geneva, sans-serif;
}
TABLE.box5percentBox
{
	border-top: 1px solid #cccccc; 
	border-left: 0px; 
	border-right: 0px; 
	border-bottom: 1px solid #cccccc;
	background: #f2f5f7;
/*	background: #fdfdfe:*/
}
TEXTAREA
{
	background-color: white;
	font-size: 11px;
	color: black;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
INPUT.textBox {
		BORDER-RIGHT: #dfdfdf 1px solid; BORDER-TOP: #7a7a7a 1px solid; FONT-SIZE: 10px; BACKGROUND: #ffffff; BORDER-LEFT: #7a7a7a 1px solid; COLOR: #333333; BORDER-BOTTOM: #dfdfdf 1px solid; FONT-FAMILY: Arial, verdana, helvetica, sans-serif; HEIGHT: 18px
}
INPUT.submitButton
{
	font-family: Arial, Verdana, Helvetica;
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	line-height: 14px;
	height: 18px;
	width: 80px;
	padding-right: 2px;
	padding-left: 2px;
	background-color: #6789b4;
	font-weight: bold;
	border-top: 1px solid #aab6c4;
	border-left: 1px solid #aab6c4;
	border-bottom: 1px solid #5f83b0;
	border-right: 1px solid #5f83b0;
}
INPUT.submitButton2 {
	BORDER-RIGHT: #003366 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b2c1d1 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #b2c1d1 1px solid; CURSOR: hand; COLOR: #003366; LINE-HEIGHT: 14px; BORDER-BOTTOM: #003366 2px solid; FONT-FAMILY: Arial, Verdana, Helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
INPUT.submitButtonDisabled {
	BORDER-RIGHT: #194775 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #b2c1d1 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #b2c1d1 1px solid; CURSOR: hand; COLOR: #b2c1d1; LINE-HEIGHT: 14px; BORDER-BOTTOM: #194775 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #7f99b2; TEXT-ALIGN: center
}
INPUT.cancelButton
{
	border-right: #e4e8f2 1px outset;
	padding-right: 2px;
	border-top: #e4e8f2 1px outset;
	padding-left: 2px;
	font-weight: normal;
	font-size: 11px;
	border-left: #e4e8f2 1px outset;
	width: 70px;
	color: #666666;
	line-height: 14px;
	border-bottom: #e4e8f2 1px outset;
	font-family: Arial, Verdana, Helvetica;
	height: 18px;
	background-color: #f2f5f7;
	text-align: center;
}
.listElement {
	FONT-WEIGHT: normal; LIST-STYLE-POSITION: outside; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
.tableContent {
	BORDER-RIGHT: #b2c4d9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b2c4d9 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #b2c4d9 1px solid; COLOR: #000000; LINE-HEIGHT: 13px; BORDER-BOTTOM: #b2c4d9 1px solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.node
{
	font-size: 11px;
	color: #003366;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.nodeOver
{
	font-size: 11px;
	color: #003366;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.nodeSelected
{
	font-size: 11px;
	background: #b2c4d9;
	color: #003366;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.tableSubhead {
	BORDER-RIGHT: #b2c4d9 1px solid; 
	BORDER-TOP: #b2c4d9 1px solid; 
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #b2c4d9 1px solid; 
	LINE-HEIGHT: 13px; 
	BORDER-BOTTOM: #b2c4d9 1px solid; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: white; 
	BACKGROUND-COLOR: #34629b
}
.tableSub {
	BORDER-RIGHT: #d9e2ec 1px solid; BORDER-TOP: #d9e2ec 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d9e2ec; BORDER-LEFT: #d9e2ec 1px solid; COLOR: #4c7094; LINE-HEIGHT: 13px; BORDER-BOTTOM: #d9e2ec 1px solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MenuDefaultGroup {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff7da; LINE-HEIGHT: 14px
}
.MenuGroup
{
	font-weight: normal;
	font-size: 12px;
	color: #de0031;
	line-height: 14px;
	background-color: #f2f5f7;
}
.MenuDefaultItem {
	border-right: #f2f5f7 1px solid;
	border-top: #f2f5f7 1px solid;
	border-left: #f2f5f7 1px solid;
	border-bottom: #f2f5f7 1px solid;
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: hand; COLOR: #DE0031; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MenuItemLogout {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: hand; COLOR: #fff7da; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.MenuItemLogin {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; CURSOR: hand; COLOR: #fff7da; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: navy
}
.MenuDefaultItemOver
{
	border-right: #ff0066 1px solid;
	padding-right: 4px;
	border-top: #ff0066 1px solid;
	padding-left: 5px;
	font-weight: bold;
	font-size: 11px;
	border-left: #ff0066 1px solid;
	cursor: hand;
	color: #ff3333;
	line-height: 14px;
	border-bottom: #ff0066 1px solid;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fcfeff;
}
.MenuDefaultItemOver2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: hand; COLOR: #99b1cd; LINE-HEIGHT: 14px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mainNavWhiteAct {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #99b1cd; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: white; BACKGROUND-COLOR: #34629b
}
.SmallTableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; BACKGROUND-COLOR: #34629b
}
.QuizHeader {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 115%;
	font-weight: bold;
	font-weight: bolder;
	font-style: normal;
	line-height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.QuizSubHeader {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	font-weight: bolder;
	font-style: normal;
	line-height: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.QuizQuestion {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: bold;
}
.QuizQuestionSmall {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 9px;
	color: black;
}
.QuizOption {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: black;
	font-weight: bold;
}
.QuizOptionListControl {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: black;
}
.QuizOptionRadioButton {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: black;
}
.QuizOptionCheckBox {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: black;
}
.QuizOptionTextBox {
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: black;
}
.tableAlternatingItem
{
	background-color: White;
}
.searchLinksPanel{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	background-color: #ED1C24;
}
.searchLinksPanel A {
	COLOR: White; 
}
.error
{
	color: Red;
	border-width: thin;
	border-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: Red;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.validators
{
	color: Red;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
}
.content-sm {
	FONT-SIZE: 10px; 
	COLOR: #505050; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.menu
{
	color: Red;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size: 10px;
}